<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="<%= products_path %>"><%=  t('menu.products') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= about_path %>"><%= t('menu.about') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= contact_path %>"><%= t('menu.contact') %></a>
    </li>
</ul>